<form (ngSubmit)="getAuthor()">
    <label for="authorId">Author ID:</label>
    <input type="number" id="authorId" [(ngModel)]="authorId" name="authorId" required>
    <button type="submit">Search</button>
</form>

<div *ngIf="author">
    <h2>{{ author.firstName }} {{ author.lastName }}</h2>
    <p>Bio: {{ author.bio?.biodata }}</p>
</div>
<p *ngIf="message">{{ message }}</p>

<div *ngIf="allAuthors.length > 0">
    <h3>All Authors:</h3>
    <ul>
        <li *ngFor="let author of allAuthors">
            {{ author.id }} - {{ author.firstName }} {{ author.lastName }}
        </li>
    </ul>
</div>
